<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExercise_FinalProject">

    <test name="Automation Exercise">
        <classes>
            <class
                    name="tests.HomePageTest">
            </class>
            <class 
                    name="tests.RegisterUser">
            </class>
            <class
                    name="tests.LoginUserWithCorrectEmailAndPassword">
            </class>
            <class
                    name="tests.LoginUserWithIncorrectEmailAndPassword">
            </class>
            <class
                    name="tests.LogoutUser">
            </class>
            <class
                    name="tests.RegisterUserWithExistingEmail">
            </class>
            <class
                    name="tests.ContactUsTest">
            </class>
            <class
                    name="tests.VerifyTestCasesTest">
            </class>
            <class
                    name="tests.VerifyAllProductsAndProductDetailTest">
            </class>
            <class
                    name="tests.SearchProductTest">
            </class>
            <class
                    name="tests.VerifySubscriptionInHomePageTest">
            </class>
            <class
                    name="tests.VerifySubscriptionInCartPageTest">
            </class>
            <class
                    name="tests.AddProductsInCart">
            </class>
            <class
                    name="tests.VerifyProductQuantityInCart">
            </class>
            <class
                    name="tests.PlaceOrderRegisterWhileCheckoutTest">
            </class>
            <class
                    name="tests.PlaceOrderRegisterBeforeCheckoutTest">
            </class>
            <class
                    name="tests.PlaceOrderLoginBeforeCheckoutTest">
            </class>
            <class
                    name="tests.RemoveProductsFromCart">
            </class>
            <class
                    name="tests.ViewCategoryProductsTest">
            </class>
            <class
                    name="tests.ViewAndCartBrandProductsTest">
            </class>
            <class
                    name="tests.SearchProductsAndVerifyCartAfterLoginTest">
            </class>
            <class
                    name="tests.AddReviewOnProductTest">
            </class>
            <class
                    name="tests.AddToCartFromRecommendedItemsTest">
            </class>
            <class
                    name="tests.VerifyAddressDetailsInCheckoutPageTest">
            </class>
            <class
                    name="tests.DownloadInvoiceAfterPurchaseOrderTest">
            </class>
            <class
                    name="tests.VerifyScrollUpUsingArrowButtonAndScrollDownFunctionalityTest">
            </class>
            <class
                    name="tests.VerifyScrollUpWithoutArrowButtonAndScrollDownFunctionalityTest">
            </class>


        </classes>
    </test>
</suite>
